<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="default :: head">
</head>

<body>
    <div class="Box">
        <!-- 软著申报服务 -->
        <div class="solt_item">
            <h1 class="applicant_Txt" style="margin-bottom:0.28rem;">商标案件服务</h1>
            <div class="solt_Box">
<!--                <p class="solt_Txt" th:text="${hzYw.sjName}=='1'?'软著代理':'软著撰写+代理'">有材料代理</p>-->
                <p class="solt_Txt" th:text="${hzYw.name}">15-25工作日</p>
                <div class="solt_Box2">
                    <div class="solt_Txt">服务费：<span th:text="${user.state}=='1'? ${hzYw.doubleHyPrice}:${hzYw.doubleVipPrice}">¥300.00</span></div>
                    <div class="solt_Txt">官费：<span th:text="${hzYw.doubleGfPrice}">¥300.00</span></div>
                </div>
            </div>
            <div th:if="${user.state}==2">
                <!--注册号-->
                <h1 class="solt_Tit">注册号</h1>
                <div class="applicant_Box3">
                    <input id="zch_val" type="number">
                </div>
                <!--类别-->
                <h1 class="solt_Tit" style="margin-top: 0.1rem;">类别</h1>
                <div class="applicant_Box3">
                    <input id="lb_val" type="text">
                </div>
                <!--类别-->
                <h1 class="solt_Tit" style="margin-top: 0.1rem;">商标名称</h1>
                <div class="applicant_Box3">
                    <input id="name_val" type="text">
                </div>
                <!-- 附加代理费 -->
                <h1 class="solt_Tit" style="margin-top: 0.1rem;">附加代理费</h1>
                <div class="applicant_Box3">
                    <input id="dlf_Price" type="number">
                    <p>元</p>
                </div>
            </div>
        </div>
        <!-- 申请人联系方式 -->
        <div class="applicant_item2">
            <h1 class="applicant_Txt">申请人联系方式</h1>
            <div class="applicant_Box2">
                <div class="applicant_Li">
                    <div class="applicant_Txt3">联系人名称：</div>
                    <input id="lxrName" type="text" placeholder="请输入联系人名称">
                </div>
                <div class="applicant_Li">
                    <div class="applicant_Txt3">联系电话：</div>
                    <input id="phone" type="text" placeholder="请输入联系电话">
                </div>
                <div class="applicant_Li">
                    <div class="applicant_Txt3">电子邮箱：</div>
                    <input id="email" type="text" placeholder="请输入电子邮箱">
                </div>
            </div>
        </div>
        <!-- 材料信息 -->
        <div class="applicant_item4">
            <h1 class="applicant_Txt">材料信息</h1>
            <div class="applicant_Box4">
                <div class="applicant_Li2">
                    <div class="applicant_Img"><img src="../image/19_icon.png" alt=""></div>
                    <p class="wts_download" data-id="1">委托书下载</p>
                </div>
                <div class="applicant_Li2">
                    <div class="applicant_Img"><img src="../image/19_icon.png" alt=""></div>
                    <div class="appli_submit" data-id="2">
                        <p>合同预览</p>
                    </div>
                </div>
            </div>
            <!-- 阅读同意 -->
            <div class="applicant_Box5" data-id="0">
                <img class="applicant_Img2" src="../image/20_icon.png" alt="">
                <div class="applicant_Txt4">我已阅读并同意<a href="/api/knowledge">《知识产权代理服务合同》</a></div>
            </div>
        </div>
        <div class="appli_submit order_btn" data-id="3" style="margin:0.46rem auto 0.24rem;">下一步</div>
    </div>
    <script>
        // 阅读同意
        let csd = 0;
        $('.applicant_Box5').click(function() {
            if ($(this).find('img').attr('src') == '../image/20_icon.png') {
                $(this).find('img').attr('src', '../image/21_icon.png');
                $(this).attr('data-id', 1);
                csd = $(this).data('id');
            } else {
                $(this).find('img').attr('src', '../image/20_icon.png');
                $(this).attr('data-id', 0);
                csd = 0;
            }
        });
        //委托书下载
        $('.wts_download').click(function () {
            $.ajax({
                url: "/api/case/downloadOf",
                tpye: "get",
                success: function (res) {
                    if (res.code == 20000) {
                        if (res.data == null) {
                            mui.toast('此业务内容不可下载', {
                                duration: 1600,
                                type: 'div'
                            })
                        } else {
                            location.href = res.data
                        }
                    }
                }
            })
        });
        $('.appli_submit').click(function () {
            var lxrName =$('#lxrName').val(); //联系人
            var phone =$('#phone').val(); //手机号
            var email =$('#email').val(); //邮箱
            var lb_val =$('#lb_val').val(); //类别
            var zch_val =$('#zch_val').val(); //注册号
            var name_val =$('#name_val').val(); //商标名称
            var dlf_Price =$('#dlf_Price').val(); //代理费

            if (zch_val === ''){
                mui.toast('请输入注册号', {
                    duration: 1600,
                    type: 'div'
                });
                return false;
            }
            if (lb_val === ''){
                mui.toast('请输入类别', {
                    duration: 1600,
                    type: 'div'
                });
                return false;
            }
            if (name_val === ''){
                mui.toast('请输入商标名称', {
                    duration: 1600,
                    type: 'div'
                });
                return false;
            }
            if (lxrName === ''){
                mui.toast('请输入联系人', {
                    duration: 1600,
                    type: 'div'
                });
                return false;
            }
            if (phone === ''){
                mui.toast('请输入手机号', {
                    duration: 1600,
                    type: 'div'
                });
                return false;
            }
            if (email === ''){
                mui.toast('请输入邮箱', {
                    duration: 1600,
                    type: 'div'
                });
                return false;
            }
            if(dlf_Price == ""){
                dlf_Price = 0
            }
            var type = $(this).data('id');
            if (csd === 0){
                mui.toast('请您先阅读协议', {
                    duration: 1600,
                    type: 'div'
                });
                return false;
            }
            //保存数据
            $.ajax({
                url:"/api/case/save",
                type:"post",
                data:{
                    applicationNumName:lxrName,
                    applicationNumTel:phone,
                    applicationNumMail:email,
                    commission:dlf_Price,
                    lbVal:lb_val,
                    zchVal:zch_val,
                    applicationName:name_val,
                },
                success:function (res) {
                    if (res.code == 20000){
                        if (type == 3) {
                            location.href="/api/case/last";
                        } else if (type == 2) {
                            location.href = "/api/case/etc";
                        }
                    }
                }
            })
        });
        $("#phone").on('blur',function(){
            var t = $("#phone").val();
            if (!(/^1[3|4|5|8][0-9]\d{8}$/.test(t))) {
                mui.toast('手机号不正确', {
                    duration: 1600,
                    type: 'div'
                });
                $('#phone').focus();
                return false;
            }
        });
        var reg = /^([a-zA-Z]|[0-9])(\w|\-)+@[a-zA-Z0-9]+\.([a-zA-Z]{2,4})$/;
        $("#email").on('blur',function(){
            var email = $("#email").val();
            if (!(reg.test(email))) {
                mui.toast('邮箱格式不正确', {
                    duration: 1600,
                    type: 'div'
                });
                $('#email').focus();
                return false;
            }
        });
    </script>
</body>

</html>