<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="default :: head">
    <!--<style>
        .Box {
            width: 100%;
            height: 100vh;
            padding: 0.38rem 0.34rem;
            box-sizing: border-box;
            background-color: #ED291B;
        }
    </style>-->
</head>

<body>
<div id="picture" class="mui-popover mui-popover-action mui-popover-bottom" style="z-index: 99999999">
    <ul class="mui-table-view">
        <li class="mui-table-view-cell">
            <a href="javascript:;" id="saveImg">保存图片</a>
        </li>
    </ul>
    <ul class="mui-table-view">
        <li class="mui-table-view-cell">
            <a href="#picture"><b>取消</b></a>
        </li>
    </ul>
</div>
<div class="Box" style=" width: 100%;
            height: 100vh;
            padding: 0.38rem 0.34rem;
            box-sizing: border-box;
            background-color: #ED291B;">
    <div class="code_Box">
        <h1 class="code_Txt">扫码加入</h1>
        <p class="code_Txt2">邀请新用户扫描二维码加入你的团队<br> 每邀请一名新用户注册<br>即可获得VIP会员购买抵扣券<i>[[${vip.couponPrice}]]</i>元</p>

        <div class="code_Img">
            <img class="saveImg" id="save" src="" alt="">
        </div>

        <div class="code_btn">长按图片保存到手机</div>
    </div>
</div>
</body>
<script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.6.0.js"></script>
<script>
    $(function () {
        $.ajax({
            url:"/api/personal/qrimage",
            type:"get",
            success:function (ref) {
                $('#save').attr('src', ref.data)
            }
        })
    })
    $('#save').click(function () {
        var url = $(this).attr('src');
        wx.downloadImage({
            serverId: url, // 需要下载的图片的服务器端ID，由uploadImage接口获得
            isShowProgressTips: 1, // 默认为1，显示进度提示
            success: function (res) {
                var localId = res.localId; // 返回图片下载后的本地ID
            }
        });
    })
/*    longPress("save", saveSharePic);



    function longPress(id, func) {
        var timeOutEvent;

        document.querySelector("#" + id).addEventListener("touchstart", function (e) {
            //开启定时器前先清除定时器，防止重复触发
            clearTimeout(timeOutEvent);
            //开启延时定时器
            timeOutEvent = setTimeout(function () {
                //调用长按之后的逻辑函数func
                func();
            }, 300); //长按时间为300ms，可以自己设置
        });

        document.querySelector("#" + id).addEventListener("touchmove", function (e) {
            //长按过程中，手指是不能移动的，若移动则清除定时器，中断长按逻辑
            clearTimeout(timeOutEvent);
            /!* e.preventDefault() --> 若阻止默认事件，则在长按元素上滑动时，页面是不滚动的，按需求设置吧 *!/
        });

        document.querySelector("#" + id).addEventListener("touchend", function (e) {
            //若手指离开屏幕，时间小于我们设置的长按时间，则为点击事件，清除定时器，结束长按逻辑
            clearTimeout(timeOutEvent);
        })
    }

    //保存图片
    function saveSharePic() {
        window.open(url)
    }*/



</script>

</html>