<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="default :: head">
</head>
<body>
<div class="Box">
    <!-- 绑定银行卡弹框 -->
    <div class="drawal_Mask" style="display: block;">
        <form action="/api/personal/update" method="post">
            <div class="drawal_MaskCon">
                <ul>
                    <li>
                        <p>持卡人</p>
                        <input type="hidden" name="id" th:value="${bank.id}">
                        <input type="text" required autocomplete="off" name="name" th:value="${bank.name}" placeholder="请输入持卡人姓名">
                    </li>
                    <li>
                        <p>卡号</p>
                        <input type="text" required autocomplete="off" id="bank" name="bankId" th:value="${bank.bankId}" placeholder="请输入卡号">
                    </li>
                    <li>
                        <p>银行名称</p>
                        <input type="text" required autocomplete="off" name="bankName" th:value="${bank.bankName}" placeholder="请输入银行名称">
                    </li>
                    <li>
                        <p>手机号</p>
                        <input type="number" required autocomplete="off" id="phone" name="num" th:value="${bank.num}" placeholder="请输入手机号">
                    </li>
                </ul>
            </div>
            <div class="my_ContractBtn">
                <button class="my_ContractEditor" type="submit">取消</button>
                <button class="my_ContractDownLoad" type="submit">修改</button>
            </div>
        </form>
    </div>
</div>
</body>
<script>
    $("#phone").on('blur',function(){
        var t = $("#phone").val();
        if (!(/^1[3|4|5|8][0-9]\d{8}$/.test(t))) {
            mui.toast('手机号不正确', {
                duration: 1600,
                type: 'div'
            });
            $('#phone').focus();
            return false;
        }
    });
    $("#bank").on('blur', function () {
        var bank = $("#bank").val();
        if (!(/^([1-9]{1})(\d{14}|\d{18})$/.test(bank))) {
            mui.toast('银行卡号不正确', {
                duration: 1600,
                type: 'div'
            });
            $('#bank').focus();
            return false;
        }
    });
</script>
</html>