<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="default :: head">
    <style>
        body {
            background-color: white;
        }
    </style>
</head>


<body>
<div class="Box">
    <div class="new_share"><img src="../image/share_bg.png" alt=""></div>
    <div class="vip_Box">
        <!-- 优惠卷 -->
        <div class="vip_priceBox">
            <div class="vip_priceL">
                <div class="vip_Img"><img src="../image/43_icon.png" alt=""></div>
                <p class="vip_Txt">优惠券</p>
            </div>
            <div class="vip_Txt2" th:text="${user.coupon}">80</div>
        </div>

        <!-- vip月卡 -->
        <div class="vip_Box2">
            <div class="vip_Txt3"><i>V&nbsp;I&nbsp;P</i><span>月卡</span></div>
            <div class="vip_Box3">
                <div class="vip_Price">折扣价：¥<i>[[${vip.price}]]</i></div>
                <div class="vip_btn">购买VIP</div>
            </div>
        </div>
    </div>
    <!-- 邀请 -->
    <div class="vip_item2">
        <p class="vip_Txt4">每邀请一名新用户注册</p>
        <p class="vip_Txt4"> 即可获得VIP会员购买抵扣券 <i>[[${vip.couponPrice}]]</i> 元优惠券可累加使用！</p>
<!--        <p class="vip_Txt4">优惠券自动叠加使用</p>-->
        <input type="hidden" id="superId" th:value="${user.id}">
        <div class="vip_Txt5"> 邀请 <i>[[${vip.personNum}]]</i> 人即可<span>免费购买VIP月卡</span></div>
    </div>
    <!-- 按钮 -->
    <button class="vip_btn2">立即邀请好友获得代金券</button>
</div>
<script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.6.0.js"></script>
<script>
    // 立即邀请
    $('.vip_btn2').click(function () {
        $('.new_share').show();
    });
    // 关闭分享
    $('.new_share').click(function () {
        $(this).hide();
    });
    $('.vip_btn').click(function () {
        $.ajax({
            url: "/api/pay/vip",
            type: "post",
            success: function (ref) {
                if (ref.code == 20000) {
                    if (ref.data.code == 20001) {
                        function onBridgeReady() {
                            WeixinJSBridge.invoke(
                                'getBrandWCPayRequest', {
                                    "appId": ref.data.appId, //公众号名称，由商户传入
                                    "timeStamp": ref.data.timeStamp, //时间戳，自1970年以来的秒数
                                    "nonceStr": ref.data.nonceStr, //随机串
                                    "package": ref.data.package,
                                    "signType": 'MD5', //微信签名方式：
                                    "paySign": ref.data.sign, //微信签名
                                },
                                function (res) {
                                    if (res.err_msg === "get_brand_wcpay_request:ok") {
                                        // 使用以上方式判断前端返回,微信团队郑重提示：
                                        //res.err_msg将在用户支付成功后返回ok，但并不保证它绝对可靠。
                                        mui.alert('购买成功', "提示", "确定", function () {
                                            location.href = "/api/personal"
                                        }, {
                                            type: 'div'
                                        });
                                    }
                                });
                        }

                        if (typeof WeixinJSBridge == "undefined") {
                            if (document.addEventListener) {
                                document.addEventListener('WeixinJSBridgeReady', onBridgeReady, false);
                            } else if (document.attachEvent) {
                                document.attachEvent('WeixinJSBridgeReady', onBridgeReady);
                                document.attachEvent('onWeixinJSBridgeReady', onBridgeReady);
                            }
                        } else {
                            onBridgeReady();
                        }

                    } else if (ref.data.code == 20002) {
                        mui.alert('购买成功', "提示", "确定", function () {
                            location.href = "/api/personal"
                        }, {
                            type: 'div'
                        });
                    }

                }
            }
        })
    });
    var superId = $('#superId').val();
    var basePath = "<%=basePath%>";
    var nonce = "";//生成签名的随机串
    var signature = "";//签名
    var timestamp = "";//时间戳
    var title = "来自好友的转发邀请，点击查看详情。";
    var desc = "知识产权人财富倍增平台·好智咨询";
    var sharLink = "http://haozhiqiye.haozhizixun.com/api/login?superId=" + superId;
    var imgUrl = "http://wx.qlogo.cn/mmopen/9bqKyBJpXXqRDZEibicPjk5v93ciaqDtysmIVib2WYjdMPngUOWoGFaVBrI57ngBHIGu9gnrpickmHOYib9AOydiaGcNEm3V03hVdvE/64";
    $(document).ready(function () {
        var url = encodeURI(location.href.split('#')[0]);
        console.log("url==" + url);
        $.ajax({
            url: "/api/weixin/sgture",
            type: "POST",
            data: {"url": url},
            dataType: "json",
            success: function (ref) {
                console.log(ref);
                nonce = ref.data.noncestr;
                signature = ref.data.signature;
                timestamp = ref.data.timestamp;
                loadWx();
            },
            error: function (err) {
                console.log('异常');
            }
        });
    });

    function loadWx() {
        wx.config({
            debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
            appId: 'wx061b55a767d388d8', // 必填，公众号的唯一标识
            timestamp: timestamp, // 必填，生成签名的时间戳
            nonceStr: nonce, // 必填，生成签名的随机串
            signature: signature,// 必填，签名
            jsApiList: ['onMenuShareTimeline', 'onMenuShareAppMessage'] // 必填，需要使用的JS接口列表
        });
        wx.ready(function () {
            //分享到朋友圈
            wx.onMenuShareTimeline({
                title: title, // 分享标题
                link: sharLink, // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
                imgUrl: imgUrl, // 分享图标
                success: function () {
                    mui.toast('分享成功', {
                        duration: 1600,
                        type: 'div'
                    });
                },
                cancel: function () {
                    mui.toast('分享失败', {
                        duration: 1600,
                        type: 'div'
                    });
                }
            });
            //分享到朋友
            wx.onMenuShareAppMessage({
                title: title, // 分享标题
                desc: desc, // 分享描述
                link: sharLink, // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
                imgUrl: imgUrl, // 分享图标
                type: 'link', // 分享类型,music、video或link，不填默认为link
                dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
                success: function () {
                    mui.toast('分享成功', {
                        duration: 1600,
                        type: 'div'
                    });
                },
                cancel: function () {
                    mui.toast('分享失败', {
                        duration: 1600,
                        type: 'div'
                    });
                }
            });
        });
        wx.error(function (res) {
            /*alert("验证失败了");*/
        });
    }
</script>

</body>

</html>