<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">


<head th:replace="public :: head">
    <style>
        .layui-form {
            margin-right: 30%;
        }
    </style>
</head>

<body>
<div class="cBody" style="overflow: auto; height: auto;">
    <form id="addForm" class="layui-form" action="/brand/update/add" method="post">
        <div class="layui-form-item">
            <label class="layui-form-label">商标名称</label>
            <div class="layui-input-inline shortInput">
                <input type="text" name="name" th:value="${hzYw.name}"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">会员价格</label>
            <div class="layui-input-inline shortInput">
                <input type="text" name="hyPrice" th:value="${hzYw.hyPrice}/100"
                       class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">vip价格</label>
            <div class="layui-input-inline shortInput">
                <input type="text" name="vipPrice" th:value="${hzYw.vipPrice}/100"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">大师价格</label>
            <div class="layui-input-inline shortInput">
                <input type="text" name="dsPrice" th:value="${hzYw.dsPrice}"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">八戒价格</label>
            <div class="layui-input-inline shortInput">
                <input type="text" name="bjPrice" th:value="${hzYw.bjPrice}" required
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">官费价格</label>
            <div class="layui-input-inline shortInput">
                <input type="text" name="gfPrice" th:if="${hzYw.gfPrice} != '-1'" th:value="${hzYw.gfPrice}/100"
                       class="layui-input">
                <input type="hidden" name="gfPrice" th:if="${hzYw.gfPrice} == '-1'" value="-1"
                       class="layui-input">
                <input type="text" th:if="${hzYw.gfPrice} == '-1'" value="国外费用单独确认"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">标题</label>
            <div class="layui-input-inline shortInput">
                <input type="text" name="title" th:value="${hzYw.title}"
                       class="layui-input">
                <input type="hidden" th:value="${hzYw.id}" name="id">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">委托书</label>
            <div class="layui-input-inline shortInput">
                <input type="text" name="wordUrl" id="wordUrl" th:value="${hzYw.wordUrl}"
                       class="layui-input">
            </div>
            <div>
                <a type="button" class="layui-btn" id="test3"><i class="layui-icon"></i>上传委托书
                </a>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">封面图片</label>
            <div class="layui-upload-drag" id="goodsPic">
                <input name="image" type="hidden" id="image" th:value="${hzYw.image}"/>
                <i class="layui-icon"></i>
                <p>点击上传，或将文件拖拽到此处</p>
                <img class="layui-upload-img" id="demo1" th:src="${hzYw.image}">
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">内容</label>
            <div class="layui-input-block">
            <textarea name="text" class="layui-textarea" id="LAY_demo2"
                      style="display: none;" th:text="${hzYw.text}"></textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="submitBut">立即提交</button>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript">
    layui.use(['upload', 'layedit'], function () {
        var upload = layui.upload;
        var layedit = layui.layedit
            , $ = layui.jquery;
        layedit.set({
            uploadImage: {
                url: '/upload/insert/fwb' //接口url
                , type: 'post' //默认post
            }
        });
        //构建一个默认的编辑器
        var index = layedit.build('LAY_demo2');

        //拖拽上传
        upload.render({
            elem: '#goodsPic',
            url: '/upload/insert'
            , before: function (obj) {
                //预读本地文件示例，不支持ie8
                obj.preview(function (index, file, result) {
                    $('#demo1').attr('src', result); //图片链接（base64）
                });
            }
            , done: function (res) {
                //如果上传失败
                if (res.code != 200) {
                    return layer.msg('上传失败');
                } else {
                    $("#image").val(res.src);
                    return layer.msg('上传成功');
                }
            }
        });
        var $ = layui.jquery
            , upload = layui.upload;
        //指定允许上传的文件类型
        upload.render({
            elem: '#test3'
            , url: '/brand/add/file' //改成您自己的上传接口
            , accept: 'file' //普通文件
            , done: function (res) {
                if (res.code == 20000) {
                    $("#wordUrl").val(res.data);
                    returnlayer.msg('上传成功');
                }
            }
        });
    });
</script>
</body>

</html>