<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="default :: head">
</head>
<style>
    .applicant_title {
        font-size: 0.36rem;
        width: 100%;
        height: 0.8rem;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }

    #up_weiImg, #up_heImg {
        flex-wrap: wrap;
    }
    .del_img {
        position: absolute;
        top: -0.1rem;
        right: -0.1rem;
        width: 0.32rem;
        height: 0.32rem;
    }
</style>
<body>
<div class="Box">
    <form id="firstFile" action="" method="post">
        <div class="uploadBox">
            <h1 class="applicant_Txt">材料信息</h1>
            <div class="applicant_upImg_box" style="margin-bottom: 0.2rem;">
                <div class="applicant_title">上传委托书</div>
                <div class="applicant_Box4" id="up_weiImg">
                    <div class="applicant_Img"  th:each="p : ${powers}" style="margin: 0 0.12rem 0 0.12rem">
                        <img th:src="${p}" alt="">
                        <img th:src="@{/image/input_del.png}" class="del_img" th:data-img="${p}" onclick="delImg(this)" alt="">
                    </div>
                    <div class="applicant_Li2" id="form">
                        <div class="applicant_Img">
                            <img th:src="@{/image/33_icon.png}" alt="">
                            <input class="input1" data-type="1" type="file" name="file" id="book">
                            <input type="hidden" id="id" th:value="${id}">
                        </div>
                        <!--                        <p>上传委托书</p>-->
                    </div>
                </div>
            </div>

            <div class="applicant_upImg_box">
                <div class="applicant_title">上传合同</div>
                <div class="applicant_Box4" id="up_heImg">
                    <div class="applicant_Img" th:each="p : ${contracts}" style="margin: 0 0.12rem 0 0.12rem">
                        <img th:src="${p}" alt="">
                        <img th:src="@{/image/input_del.png}" class="del_img" th:data-img="${p}" onclick="delHeImg(this)" alt="">
                    </div>
                    <div class="applicant_Li2" id="form_contract">
                        <div class="applicant_Img">
                            <img th:src="@{/image/33_icon.png}" alt="">
                            <input class="input2" type="file" data-type="2" name="file" id="contract">
                        </div>
                        <!--                        <p>上传合同</p>-->
                    </div>
                </div>
            </div>
        </div>
    </form>
    <button type="submit" class="order_btn contract_btn" id="btn_Sc">确认上传</button>
</div>
<script th:inline="javascript">
    var powers = [[${powers}]],contracts =[[${contracts}]]
</script>
<script>
    var weiList = powers, heList =contracts;
    $('.applicant_Li2 .input1').change(function () {
/*        var f1 = this.files.length;
        var formData = new FormData();
        for (var i = 0; i < f1; i++) {
            var file = this.files[i];
            //var r = new FileReader();
            //r.readAsDataURL(file);
            formData.append("file", file);
        }*/
        var datas = new FormData($('#firstFile')[0]);
        let t = this;
        $.ajax({
            url: "/api/order/upload/file",
            type: 'POST',
            data: datas,
            dataType: 'JSON',
            cache: false,
            processData: false,
            contentType: false,
            success: function (res) {
                if (res.code === 20000) {
                    if ($(t).data('type') == 1 && weiList.length < 9) {
                        // 上传委托书
                        weiList.push(res.data);
                        $('#up_weiImg').prepend(
                            '<div class="applicant_Img" style="margin: 0 0.24rem 0.2rem 0">' +
                            '                        <img src="' + res.data + '" alt="">' +
                            '                        <img src="/api/image/input_del.png" class="del_img" data-img="' + res.data + '" onclick="delImg(this)" alt="">' +
                            '                    </div>'
                        )
                    } else if ($(t).data('type') == 1 && weiList.length >= 0) {
                        $('#form').hide();
                    }

                    mui.toast('上传成功', {
                        duration: 1600,
                        type: 'div'
                    })
                } else {
                    mui.toast('上传失败', {
                        duration: 1600,
                        type: 'div'
                    })
                }
            }
        })
    });

    // 删除委托书图片
    function delImg(e) {
        $(e).parents('.applicant_Img').remove();
        var img = $(e).data('img');
        weiList.forEach(element => {
            if (element == img) {
                if (weiList.indexOf(element) > -1) {
                    var i = weiList.indexOf(element);
                    weiList.splice(i, 1);
                }
            }
        });
        $('#form').show();
    }

    $('.applicant_Li2 .input2').change(function () {
        var f1 = this.files.length;
        var formData = new FormData();
        for (var i = 0; i < f1; i++) {
            var file = this.files[i];
            //var r = new FileReader();
            //r.readAsDataURL(file);
            formData.append("file", file);
        }
        /* var datas = new FormData($('#contract'),file);*/
        let t = this;
        $.ajax({
            url: "/api/order/upload/file",
            type: 'POST',
            data: formData,
            dataType: 'JSON',
            cache: false,
            processData: false,
            contentType: false,
            success: function (res) {
                if (res.code === 20000) {
                    if ($(t).data('type') == 2 && heList.length < 9) {
                        // 上传合同
                        heList.push(res.data);
                        $('#up_heImg').prepend(
                            '<div class="applicant_Img" style="margin: 0 0.24rem 0.2rem 0">' +
                            '                        <img src="' + res.data + '" alt="">' +
                            '                        <img src="/api/image/input_del.png" class="del_img" data-img="' + res.data + '" onclick="delHeImg(this)" alt="">' +
                            '                    </div>'
                        )
                    } else if ($(t).data('type') == 2 && heList.length >= 0) {
                        $('#form_contract').hide();
                    }
                    mui.toast('上传成功', {
                        duration: 1600,
                        type: 'div'
                    })
                } else {
                    mui.toast('上传失败', {
                        duration: 1600,
                        type: 'div'
                    })
                }
            }
        })
    });

    // 删除合同图片
    // 删除图片
    function delHeImg(e) {
        $(e).parents('.applicant_Img').remove();
        var img = $(e).data('img');
        console.log(img)
        heList.forEach(element => {
            if (element == img) {
                if (heList.indexOf(element) > -1) {
                    var i = heList.indexOf(element);
                    heList.splice(i, 1);
                }
            }
        })
        $('#form_contract').show();
    }
    $('#btn_Sc').click(function () {
        var id = $('#id').val();
        $.ajax({
            url: "/api/progress/orderurl/xg",
            type: "post",
            data: {
                id: id,
                htString: heList.join(','),
                wtSting: weiList.join(','),
            },
            success: function (ref) {
                if (ref.code === 20000) {
                    location.href = "/api/progress"
                    mui.toast('上传成功', {
                        duration: 1600,
                        type: 'div'
                    })
                }
            }
        })
    })

    // $('#book').change(function () {
    //     var data = new FormData($('#form')[0]);
    //     console.log(data)
    //     $(this).prev('img').attr('src', '../image/19_icon.png')
    // });
    // $('#contract').change(function () {
    //     var data = new FormData($('#form_contract')[0]);
    //     console.log(data)
    //     $(this).prev('img').attr('src', '../image/19_icon.png')
    // })
</script>
</body>

</html>