<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

    <head th:replace="public :: head">
    </head>

    <body>
        <div class="cBody">
            <table class="layui-table">
                <thead>
                    <tr>
                        <th>用户</th>
                        <th>持卡人</th>
                        <th>卡号</th>
                        <th>银行名称</th>
                        <th>手机号</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="p : ${bank}">
                        <td th:text="${p.userId}"></td>
                        <td th:text="${p.name}"></td>
                        <td th:text="${p.bankId}"></td>
                        <td th:text="${p.bankName}"></td>
                        <td th:text="${p.num}"></td>
                    </tr>

                </tbody>
            </table>

        </div>
    </body>

</html>