<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="public :: head">
    <style>
        .layui-form {
            margin-right: 30%;
        }

        .layui-form-label {
            width: 100px;
        }

        .layui-input-block {
            margin-left: 130px;
        }
    </style>
</head>

<body>
<div class="cBody">
    <form id="addForm" class="layui-form" action="/dataInfo/update/info" method="post">
        <div class="layui-form-item">
            <label class="layui-form-label">标题</label>
            <div class="layui-input-inline shortInput">
                <input type="text" name="title" th:value="${dataInof.title}" required autocomplete="off"
                       class="layui-input">
                <input type="hidden" th:value="${dataInof.id}" name="id">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">封面图片</label>
            <div class="layui-upload-drag" id="goodsPic">
                <input name="image" type="hidden" id="image" th:value="${dataInof.image}"/>
                <i class="layui-icon"></i>
                <p>点击上传，或将文件拖拽到此处</p>
                <img class="layui-upload-img" id="demo1" th:src="${dataInof.image}">
            </div>
        </div>


        <div class="layui-form-item">
            <label class="layui-form-label">日期</label>
            <div class="layui-input-inline shortInput">
                <input type="text" class="layui-input" name="sTime" th:value="${dataInof.sTime}" id="test1">
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">内容</label>
            <div class="layui-input-block">
                <textarea class="layui-textarea" name="content" id="LAY_demo1" th:text="${dataInof.content}" style="display: none;"></textarea>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="submitBut">立即提交</button>
            </div>
        </div>
    </form>


</div>
</body>
<script>
    layui.use(['laydate'], function () {
        var laydate = layui.laydate;
        laydate.render({
            elem: '#test1' //指定元素
        });
    });
    layui.use(['upload'], function () {
        var upload = layui.upload;
        //拖拽上传
        upload.render({
            elem: '#goodsPic',
            url: '/upload/insert'
            , before: function (obj) {
                //预读本地文件示例，不支持ie8
                obj.preview(function (index, file, result) {
                    $('#demo1').attr('src', result); //图片链接（base64）
                });
            }
            , done: function (res) {
                //如果上传失败
                if (res.code != 200) {
                    return layer.msg('上传失败');
                } else {
                    $("#image").val(res.src);
                    return layer.msg('上传成功');
                }
            }
        });
    });
    layui.use('layedit', function(){
        var layedit = layui.layedit
            ,$ = layui.jquery;
        layedit.set({
            uploadImage: {
                url: '/upload/insert/fwb' //接口url
                ,type: 'post' //默认post
            }
        });
        //构建一个默认的编辑器
        var index = layedit.build('LAY_demo1');
    });
</script>
</html>