<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="public :: head">
</head>

<body>
<div class="loginBg"></div>
<div class="login_main">
	<div class="box">
		<div class="left">
			<p>好智后台管理系统</p>
		</div>
		<div class="right">
			<form class="layui-form layui-form-pane" th:action="@{login/aunt}" method="post">
				<div class="layui-form-item">
					<label class="layui-form-label login_title"><i class="iconfont icon-gerenzhongxin-denglu"></i></label>
					<div class="layui-input-block login_input">
						<input type="text" name="username" required lay-verify="required" value="laowang" autocomplete="off" placeholder="请输入您的用户名" class="layui-input">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label login_title"><i class="iconfont icon-mima1"></i></label>
					<div class="layui-input-block login_input">
						<input type="password" name="password" required lay-verify="required" value="123" autocomplete="off" placeholder="请输入密码" class="layui-input">
					</div>
				</div>
				<div class="layui-form-item">
					<button class="layui-btn layui-btn-fluid login_but" lay-submit lay-filter="loginBut">登 录</button>
				</div>
				<div class="layui-form-item">
				</div>
			</form>
		</div>
	</div>
</div>
<script>
	layui.use('form', function() {
		var form = layui.form;
		//监听提交
		form.on('submit(loginBut)', function(data) {
			/*layer.msg(JSON.stringify(data.field));*/
			return true;
		});
	});
</script>
</body>

</html>