<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="public :: head">
</head>

<body>
<div class="cBody">
    <form id="addForm" class="layui-form" action="/brandnorm/update" method="post">
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">内容</label>
            <div class="layui-input-block">
                <textarea name="name" th:text="${list.name}" placeholder="请输入内容" id="LAY_demo1"
                          class="layui-textarea" style="display: none;"></textarea>
            </div>
            <input type="hidden" name="id" th:value="${list.id}">
        </div>

        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="submitBut">修改</button>
                <!--<input class="layui-btn layui-btn-primary" onClick="history.go(-1)" value="取消" type="button">-->
            </div>
        </div>
    </form>
</div>
</body>

<script>
    layui.use('layedit', function(){
        var layedit = layui.layedit
            ,$ = layui.jquery;
        layedit.set({
            uploadImage: {
                url: '/upload/insert/fwb' //接口url
                ,type: 'post' //默认post
            }
        });
        //构建一个默认的编辑器
        var index = layedit.build('LAY_demo1');
    });
</script>
</html>